system {
    services {
        extension-service {
            request-response {
                grpc {
                    clear-text;
                }
            }
        }
    }
}
services {
    rpm {
        probe probe1 {
            test PE1 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.0;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test PE2 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.7;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test probe2 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.9;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test probe3 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.10;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test probe4 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.11;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test probe5 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.12;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
            test probe6 {
                probe-type icmp-ping-timestamp;
                target address 10.128.0.13;
                probe-count 5;
                probe-interval 1;
                one-way-hardware-timestamp;
            }
        }
        probe-server {
            tcp {
                port 50111;
            }
            udp {
                port 50111;
            }
        }
        probe-limit 10;
    }
}